# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-3w22w.us-central1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username='RBT6FFOT2A54MVHV'   password='/1GjfCoZyWpVfCLylly7O6eqIj6MD+KHrl0DgNNm5TRShT6yc9ifljNCKDGKDlrI';
sasl.mechanism=PLAIN
# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for higher availability in Apache Kafka clients prior to 3.0
session.timeout.ms=45000

# Best practice for Kafka producer to prevent data loss
acks=all

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-j98yq.us-central1.gcp.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=DDV7SPEFMJYX3GJM:A9koXy2OxTavTq68egpF9N/2KSy1GhrW61K+aXzjRhZ9M4m/gbCLkKtJJHaM8V1/
